Node red flows.json
[
    {
        "id": "1038ee9b08765c63",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc2315206565d2fa",
        "type": "ui_button",
        "z": "1038ee9b08765c63",
        "name": "",
        "group": "c7520ffc2839024f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "buttonov",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "PRESS",
        "payloadType": "str",
        "topic": "nodered/button",
        "topicType": "str",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "91a614630691e99f"
            ]
        ]
    },
    {
        "id": "a4303be754270200",
        "type": "ui_switch",
        "z": "1038ee9b08765c63",
        "name": "",
        "label": "switchOV",
        "tooltip": "",
        "group": "c7520ffc2839024f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "nodered/switch",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "135f82da33bb2f74"
            ]
        ]
    },
    {
        "id": "91a614630691e99f",
        "type": "mqtt out",
        "z": "1038ee9b08765c63",
        "name": "musicov",
        "topic": "nodered/button",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0dd5710309997b4",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "135f82da33bb2f74",
        "type": "mqtt out",
        "z": "1038ee9b08765c63",
        "name": "ledsov",
        "topic": "nodered/switch",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0dd5710309997b4",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "c7520ffc2839024f",
        "type": "ui_group",
        "name": "Si",
        "tab": "203f978d7e8d6d83",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0dd5710309997b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "203f978d7e8d6d83",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]

